<!-- <h1>{{data | json}}</h1> -->
<div class="container">
<button class="btn btn-secondary align-center" type="submit">Nuevo</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">body</th>
        <th scope="col" colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of dataRes">
        <th scope="row">{{dato.id}}</th>
        <td>{{dato.title}}</td>
        <td>{{dato.body}}</td>
        <td><button type="button" class="btn btn-primary">Edit</button></td>
        <td><button (click)="eliminarRegistro(dato.id)" type="button" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>
<!--<p>{{dataRes | json}}</p>  -->

<div class="container -xs">
  <form [formGroup]="data" (ngSubmit)="enviarDatos()">
    <input placeholder="id" type="text" class="form-control py-2" id="id"
      formControlName="id" />
    <input placeholder="title" type="text" class="form-control py-2" id="title" formControlName="title" />
    <input placeholder="body" type="text" class="form-control py-2" id="body" formControlName="body" />
    <td><button class="btn btn-warning align-center" type="submit">Guardar</button></td>
  </form>
</div>